@import "../../Scss/Variables";
@import "../../Scss/Mixins";

.c-gamewaitend {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  button {
    padding: 0.7rem 2.75rem;
    @include font--primary(600);
    width: fit-content;
    margin-bottom: 0rem !important;
    background: $background-contrast;
    color: $background;
    border: 1px solid darken($background-contrast, 2.5%);
    box-shadow: $box-shadow--secondary;
    transition: $transition-normal;

    span {
      color: var(--special-secondary);
    }
  }
}