@import "../../Scss/Variables";
@import "../../Scss/Mixins";
@import "../../Scss/Animations";

.c-waitingroom {
  height: 100%;
  width: 100%;

  ul {
    width: 70%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    @media #{$tablet-down} {
      gap: 1.5rem;
    }
  }

  .user {
    @include font--primary(500);
    width: fit-content;
    line-height: 20px;
    padding: 0.5rem 2rem;
    border: 1px solid darken($background-contrast, 2.5%);
    box-shadow: $box-shadow--secondary;
    transition: $transition-normal;
    border-radius: 5px;
    color: darken($color-green, 17.5%);
    background-color: $background-contrast;

    &__highlight {
      color: darken($color-green, 50%);
      background-color: darken($color-green, 17.5%);
      border: 1px solid darken($color-green, 17.5%);
    }
  }

  &__button {
    background: $background-contrast;
    margin: 0;
    color: $background;
    border: 1px solid darken($background-contrast, 2.5%);
    box-shadow: $box-shadow--secondary;
    transition: $transition-normal;
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem;
    @include font--secondary;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &:hover {
      box-shadow: $box-shadow--secondaryClicked;
      background: darken($background-contrast, 5%);
    }

    &.-active {
      color: $color-green;

      &:hover {
        box-shadow: $box-shadow--secondary;
        background: $background-contrast;
        cursor: not-allowed;
      }
    }
  }
}