@import "../../Scss/Mixins";
@import "../../Scss/Animations";

.c-roomlist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1rem;
  z-index: $index-3 !important;
  
  @media #{$mobile-down} {
    top: 8%;
  }

  @include slide-in-animation(0.5s);

  &__title {
    @include font--secondary(500);
    margin-bottom: 0.2rem;

    @for $i from 1 through 21 {
      &>*:nth-child(#{$i}) {
        @keyframes title-animation {
          0% {
            color: $background;
          }

          98% {
            color: $background;
          }

          99% {
            color: darken($background, 25%);
          }

          100% {
            color: $background;
          }
        }

        // Give it 2ms per letter for a smooth animation (basically double the duration and turn it to ms)
        animation: title-animation 7.5s #{$i*15}ms ease-in-out infinite;
      }
    }
  }

  &__list {
    @include font--primary(300);
    line-height: 20px;
    width: 100%;
    z-index: $index-2;
  }

  &__room {
    z-index: $index-2;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.25rem;
    padding: 0.35rem 0.5rem;
    background: $background-contrast;
    color: $background;
    border: 1px solid darken($background-contrast, 2.5%);
    box-shadow: $box-shadow--secondary;
    transition: $transition-normal;
    border-radius: $border-radius--primary;

    &:hover {
      box-shadow: $box-shadow--secondaryClicked;
      background: darken($background-contrast, 5%);
    }
  }

  &__room span:first-of-type {
    margin-right: 1.5rem;
  }

  &__roomPlayers .tooltip {
    display: flex;
    flex-direction: column;
    text-align: left;

    top: 0% !important;
    left: -60% !important;

    &::after {
      left: 103% !important;
      top: 10px !important;
      bottom: unset;
      transform: rotate(270deg) !important;
    }

    span {
      line-height: 15px;
      color: $color-green;
      text-align: left;
    }
  }
  
  &__room a {
    display: flex;
    width: 100%;
  }
}