@import "../../Scss/Mixins";
@import "../../Scss/Variables";

.c-roomheader {
  display: flex;
  width: 100%;
  flex-direction: row;

  @media #{$mobile-down} {
    flex-wrap: wrap;
  }

  &__item {
    margin: 0rem 1rem 1rem 0rem;
    @include font--secondary;
    width: fit-content;

    &Highlight {
      color: $background-contrast;
    }
  }

  &__status {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    display: flex;
    flex-direction: row;

    span {
      left: 100%;
      position: absolute;
    }

    @media #{$mobile-down} {
      margin-left: unset;
    }
  }
}