@import "../../Scss/Variables";
@import "../../Scss/Mixins";
@import "../../Scss/Animations";

.c-room {
  padding: 6rem;
  display: flex;
  flex-direction: column;

  @media #{$tablet-down} {
    padding: 5rem 2rem;
  }
}