@import "../../Scss/Variables";
@import "../../Scss/Mixins";
@import "../../Scss/Animations";

.c-room {
  padding: 6rem;

  ul li {
    line-height: 20px;
    background-color: $background-contrast;
    padding: 0.5rem 2rem;
    margin: 0.25rem 0.5rem;
    color: $background;
    border: 1px solid darken($background-contrast, 2.5%);
    box-shadow: $box-shadow--secondary;
    transition: $transition-normal;
    border-radius: 5px;
  }
}